.button {
	background-color: #5094f2;
	padding: 4px 11px;
	color: #ffffff;
	font-family: "Segoe WP";
	font-size: 20px;
	font-weight: 300;
	line-height: 44.42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	border: 2px solid #5094f2;
    margin: 0 auto;
}
.button:hover {
	border: 2px solid #FFF;
	background-color: #5094f2;
	color: #FFF;
}
.button img {
	width: 23px;
	height: 23px;
	margin-right: 11px;
}
@media (min-width: 601px) and (max-width: 1199px) {
	.buuton {
		margin: 0 !important;
	}
}
@media (min-width: 960px) {
	.button {
	    background-color: #5094f2;
	    padding: 4px 11px;
	    color: #ffffff;
	    font-family: "Segoe WP";
	    font-size: 22px;
	    font-weight: 300;
	    line-height: 44.42px;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    border: none;
	    border: 2px solid #5094f2;
	    margin: 0;
	}
	.title {
	    font-size: 42px !important;
	    max-width: 391px !important;
	    font-weight: 400 !important;
	    line-height: 18px !important;
	    margin: 0 !important;
	    text-align: left !important;
	}
	.title-section {
	    color: #6f7173 !important;
	    font-family: "Segoe WPN" !important;
	    font-size: 42px !important;
	    font-weight: 400 !important;
	    line-height: 44.42px !important;
	}
	.hero-description {
		font-size: 26px;
		max-width: 391px;
	    line-height: 40px;
	    text-align: left;
	    max-width: 268px;
	}
	.tttt {
	    width: 345px;
	    margin: 0 auto !important;
	}
	.pen-img {
		width: 78px; 
		height: 108px;
	}
	.tv-img {
		width: 95px; 
		height: 81px;
	}
	.cart-img {
		width: 98px; 
		height: 90px;
	}
	.card-img {
		width: 186px;
		height: 186px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		border-radius: 186px;
		margin: 28px auto;
	}
	.section {
		margin-top: 90px !important;
	}
	.cart {
	    width: 371px !important;
	    height: 279px !important;
	    margin: 35px auto !important;
	}
	.row > .column {
	    display: inline-block;
	    font-size: 1rem;
	    vertical-align: top;
	    padding: 15px !important;
	}
}
